@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

*::selection {
    background: theme("backgroundColor.primary");
    color: theme("textColor.secondary");
}

*::-webkit-scrollbar {
    width: theme("width.2");
}

*::-webkit-scrollbar-thumb {
    background-color: theme("backgroundColor.white");
    border-radius: theme("borderRadius.full");
}

body {
    background-color: theme('backgroundColor.dark-blue-900');
    color: theme('colors.white');
}

h1, h2, h3 { margin-bottom: theme("margin.8"); }
h1 { font-size: theme('fontSize.6xl'); }
h2 { font-size: theme('fontSize.5xl'); }
h3 { font-size: theme('fontSize.4xl'); }

select {
    cursor: pointer;
}

input {
    border: theme("borderWidth.3") solid theme("colors.white") !important;
    border-radius: theme("borderRadius.2xl") !important;
    color: theme("colors.white") !important;
    background: transparent !important;
    width: theme("width.96") !important;
    max-width: 100% !important;
}

input:focus, a, select:focus {
    outline: none !important;
    --tw-ring-color: none !important;
}

input:focus, select:focus {
    border-color: white !important;
}
