@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

*::selection {
    background: theme("backgroundColor.primary");
    color: theme("textColor.secondary");
}

* {
    color: theme('colors.white');
}

body {
    background-color: theme('backgroundColor.dark-blue-900');
}

h1, h2 { margin-bottom: theme("margin.6"); }
h1 { font-size: theme('fontSize.6xl'); }
h2 { font-size: theme('fontSize.5xl'); }

select {
    cursor: pointer;
}

input:focus, a {
    outline: none !important;
    --tw-ring-color: none !important;
}

input:focus {
    border-color: white !important;
}
